body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(-90deg, #da1111, #000000d6);
}

button:focus,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.todo-head {
  color: #ffffff;
  margin-top: 60px;
  font-size: 3em;
  font-family: unset;
  text-decoration: overline;
  text-shadow: 1px 1px 5px #ffffff7a;
}

#todoitem-list {
  padding: 0;
  margin: 0;
}

#todoitem-list li {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid #ffffff;
  padding: 12px;
  box-shadow: inset 1px 1px 13px 0px #ffffff;
  list-style-position: inside;
  text-align: center;
}

.edit-btn,
.delete-btn {
  float: right;
  background-color: transparent;
  border: transparent;
  margin-left: 5px;
}

.edit-btn.fa.fa-pencil,
.delete-btn.fa.fa-trash {
  color: #fff;
  cursor: pointer;
}

.edit-btn.fa.fa-pencil:hover {
  color: #09ffff;
}

.delete-btn.fa.fa-trash:hover {
  color: #ff5b5b;
}

#todoitem {
  border: transparent;
  background: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  max-width: 160px;
  color: #fff;
}

.addDltBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 330px;
}

.addBtn {
  margin: 0 5px;
  background: #ffc800;
  color: #fff;
  font-weight: 500;
  border: transparent;
  border-radius: 4px;
  width: 100%;
  max-width: 158px;
  box-shadow: 1px 1px 8px #ffff;
  cursor: pointer;
  height: 35px;
}

.dltAllBtn {
  margin: 0 5px;
  background: #d21212;
  color: #fff;
  font-weight: 500;
  border: transparent;
  border-radius: 7px;
  width: 100%;
  max-width: 138px;
  box-shadow: 1px 1px 8px #ffff;
  cursor: pointer;
  height: 35px;
}

/*Media Query */

@media (max-width: 600px) {
  #todoitem {
    max-width: 90%;
    display: block;
    margin-bottom: 20px;
  }
  .addBtn {
    margin: 20px 5px;
    max-width: 60%;
  }
  .dltAllBtn {
    max-width: 60%;
  }
}
